<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/site-analytics/{{id}}">
          <span data-feather="file-text"></span>
          Users
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/site-analytics/{{id}}/user-count">
          <span data-feather="file-text"></span>
          Count users
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/site-analytics/{{id}}/user-devices">
          <span data-feather="file-text"></span>
          devices
        </a>
      </li>
    </ul>
  </div>
</nav>
